/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #222;
}

.logo {
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: url('https://th.bing.com/th/id/OIP.iIMXux_2m2u-fC8NA_nkPQHaE8?w=254&h=180&c=7&r=0&o=7&dpr=1.3&pid=1.7&rm=3') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    text-align: center;
    font-style: italic;
}

.hero-content h2 {
    font-size: 40px;
    font-style:oblique;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    background: #e67e22;
    color: #fff;
    text-decoration: none;
}

/* Sections */
.section {
    padding: 60px 40px;
    text-align: center;
}

/* Menu */
.menu-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

.gallery h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

/* Gallery Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 40px;
}

/* Gallery Images */
.gallery-grid img {
    width: 100%;
    height: 250px;           /* FIXED HEIGHT */
    object-fit: cover;       /* IMPORTANT */
    border-radius: 15px;
    transition: transform 0.3s ease;
}

/* Hover Effect */
.gallery-grid img:hover {
    transform: scale(1.25);
}


/* Contact */
.contact p {
    margin: 8px 0;
}

/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .hero-content h2 {
        font-size: 28px;
    }
}
